@charset "UTF-8";
html{
	margin:0px;
	padding:0px;
	height:100%;
	width:100%;
	scroll-behavior: smooth;
}

body{
	min-height: 100%;
			background-color: rgba(226,226,226,0.4) !important;
}
.wrap{
	min-height:100%;
	max-height:100%;
}
/*카테고리 영역 시작. */
.categori{
    margin-top: 3.5em;
    margin-bottom: 0;
    display:flex;
    flex-wrap: row warp;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
.categori-grid{
    display:grid;
    background-color: white;
    align-items: flex-start;
    justify-content: center;
    grid-template-columns: 15em 15em 15em 15em;
    grid-column-gap: 10px;
    grid-template-rows: 3em 12em 5em;
    border-radius: 5px;

}
.grid-item{
    grid-row: 2/3;
}
.flex-ul-container{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: start;
    height:100%;
    list-style: none;
}
.grid-catagori-button-containers{
    grid-row: 3/4;
    grid-column: 1/5;
    margin-left:2em;
    height: 5em;
    display:flex;
    align-items: center;
}
.form-control{
    display: inline-block;
    margin-right: 0.9em;
}
.bi-search{
    transform: translate(-5px,-2px);
}
#other-location{
    list-style: none;
}
li:first-child{
    font-size:17px;
    font-weight: 600;
}
ul > li > input {
    margin-right: 5px;
}
input[type="radio"]{
    border-radius: none;
}
/* 카테고리 영역 end*/

/* 호텔 리스트 시작 */
.hotellist-container{
    display:flex;
    flex-wrap: row warp;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    height: 900px;
}
.hotellist-grid{
    display: grid;
    align-items: flex-start;
    width: 80%;
    height:400px;
    justify-content: space-between;
    grid-template-columns: 15em 15em 15em 15em 15em;
    grid-column-gap: 10px;
    grid-template-rows: 450px;
}
.card-img-top img{
 max-height: 180px;
}
.card-body{
	height:200px;
	padding 10px;
}
.card-title{
	font-weight: 24px;
}
.card{
	height: 400px;
}
@media (min-width: 1024) and (max-width:1600){
    .hotellist-container{
        display:flex;
        flex-wrap: row warp;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        height: 110vh;
    }
    .hotellist-grid{
        display: grid;
        align-items: flex-start;
        width: 80%;
        justify-content: space-between;
        grid-template-columns: 15em 15em 15em 15em 15em;
        grid-column-gap: 10px;
        grid-template-rows: 55vh;
    }
    .card-img-top img{
     max-height: 100px;
    }
    .card-body{
        height:25vh;
        padding 10px;
    }
    .card-title{
        font-weight: 24px;
    }
    .card{
        height: 54vh;
    }
}
/* 호텔 리스트 끝 */